[2015-02-04 00:11] davclark opened #1 "Initial orientation"
Ultimately, this should be assigned to @peparedes. We need to decide on initial steps to get folks oriented. Access to data and compute needs to be determined.

[2015-02-04 02:12] davclark opened #2 "Pre-process data for BIDMach"
From John:

@peparedes has run one (of many!) files through the tokenizer.

[2015-02-20 21:15] davclark opened #3 "Generate ML dataset with "ground truth" emotions corresponding to posts"

[2015-02-20 21:15] davclark commented on #3
@coryschillaci, it sounds like this might be a good first task for you to get us moving forward on our first actual ML tasks. But just say so if you're not interested.

[2015-02-20 21:17] davclark opened #4 "Figure out "development" environment for BIDMach"
Specifically, since we're using Scala, there is no need to build jars for the high-level Scala code (which is where most development will likely take place). Ideally, the "core developers" will figure out the way they'll work, and then share this approach with other folks on the team.

[2015-02-20 21:22] davclark opened #5 "Fill out "query" documents (from Pablo)"
We should have queries corresponding to life-events questionnaire. Pablo - please provide a link or information on how to find this.

cc @xih

[2015-02-20 21:23] davclark opened #6 "Fully document bidmach + data on mercury"

[2015-02-21 00:42] coryschillaci commented on #1
Current data access and gpu computing via Mercury, contact @davclark for access.

Most folks have specific issues assigned after today's meeting.

[2015-02-21 00:42] #1 closed

[2015-02-21 00:47] coryschillaci opened #7 "Basic statistics on dataset"
We should determine some basic properties of the data set. Some examples:

- How many users have at least one post?
- How many total posts are in the data set?
- What is the distribution of post word-counts?
- What fraction of posts have a `<current_moodid>` tag?

[2015-02-23 20:37] davclark opened #8 "Debug CUDA on mercury"
The only problem may be switching to the proprietary NVIDIA drivers.

[2015-02-24 07:39] coryschillaci opened #9 "Install flex on Mercury"
Seems like flex is not available

[2015-02-24 18:55] davclark commented on #9
It is now!

[2015-02-24 18:55] #9 closed

[2015-02-24 18:56] davclark commented on #8
CUDA is now properly installed. /usr/local/cuda links to /usr/local/cuda-6.5. Confirmed that BIDMach works fine "out of the box" with the current setup.

[2015-02-24 18:56] #8 closed

[2015-02-24 19:02] davclark commented on #6
Good enough in the wiki for now!

[2015-02-24 19:02] #6 closed

[2015-02-24 19:03] davclark opened #10 "Update BIDMach on mercury"
Update includes a data spec file that will enable full download of all sample data.

[2015-02-25 21:44] davclark commented on #3
Currently @coryschillaci and @anasrferreira are working on generating a useful subset of emotions from the full set of LJ tags.

[2015-02-25 21:44] davclark commented on #5
currently, there are a variety of queries that have been generated. They need to be pushed into a programmatically accessible format.

[2015-02-25 21:49] davclark commented on #4
Some intermediate issues have been reported on the [BIDMach issue tracker](https://github.com/BIDData/BIDMach/issues).

[2015-02-25 21:58] davclark commented on #3
@jcanny suggests that it would be good to concatenate xml files into 10MB+ files (for efficiency reasons). Ideal grain size for ML is probably ~1GB.

@lambdaloop offered to take this on.

[2015-02-25 22:05] davclark opened #11 "Create lucene index (with solr?) on existing posts"
Assitance from @xih, start running queries for mood, "live event" patterns.

Close guidance from @peparedes.

[2015-02-25 22:20] davclark commented on #4
It would also be useful to figure out how to run IScala remotely (setting up security cert & password, per the script in ~dav on mercury).

[2015-02-26 01:24] peparedes opened #12 "Give access to Lucene implementation on stout"
John - how could we provide access to at least some folks working on queries to the lucene search implementation on the livejournal data on stout?

[2015-02-26 01:38] coryschillaci commented on #2
@helgammal Agreed to build a script to merge the dictionaries built after running xmltweet on subsets of the data.

@lambdaloop Is assigned to concatenate the xml files (by folder? target size is ~100Mb) for more efficient parsing.

[2015-02-26 01:41] coryschillaci commented on #2
Closing as duplicate of the tasks in issue 3.

[2015-02-26 01:41] #2 closed

[2015-02-26 01:42] coryschillaci commented on #3
@helgammal Agreed to work on code to merge the dictionaries built from running xmltweet on subsets of the data.

[2015-02-26 02:02] peparedes opened #13 "Get queries from Mechanical Turk"
Post a job to get frequent queries about the life events questionnaire.

[2015-03-03 08:50] lambdaloop commented on #3
I've concatenated the xml files by folder.
The combined files are in ~pierre/combined/events on mercury.

I've also created a file with a list of all of the files, located at ~pierre/combined/files.txt
I heard it may be useful.

I've pushed the scripts used to combine and list files into clean_data in this repo.

[2015-03-03 18:31] peparedes commented on #3
Excellent Pierre!

Thanks,

Pablo
On Mar 3, 2015 12:50 AM, "Pierre Karashchuk" notifications@github.com
wrote:

[2015-03-03 18:36] davclark commented on #3
:+1: and we've still got a healthy 115G to spare... I've got a 3TB drive on order, so we shouldn't have as much of an issue with space in the near future.

Shall I move these into the shared git-annex area?

[2015-03-03 18:38] davclark commented on #12
Hey @peparedes, if you "@-mention" people, it will automatically show up in their git inbox (and maybe trigger an email, depending on settings). John hasn't accepted his invite to this repo, though - so maybe we should ask / remind him to.

But more importantly, is this still necessary - or are we able to simply use Lucene with the index files I copied to mercury?

[2015-03-03 18:38] #10 closed

[2015-03-03 18:41] davclark commented on #4
@helgammal, did the instructions provided on [this issue](https://github.com/BIDData/BIDMach/issues/32) allow you to update and develop on the Scala code?

[2015-03-03 18:42] cdschillaci commented on #3
@davclark It would probably be good to have them in the git-annex.

We still have some permissions issues, since when running xmltweet it includes the file path of the input files in some of the output filepaths. This makes sending all of the output to a personal folder a little tricky. @anasrferreira is investigating tweaking the source of xmltweet from the BIDMach repo. Alternately we can just r

[2015-03-03 20:35] peparedes commented on #12
Seems we could use the I deres you copied...  Gene is looking into it.

John offered to make it work as well...  Buy yes,  he needs to accept
first.

P
On Mar 3, 2015 10:38 AM, "Dav Clark" notifications@github.com wrote:

[2015-03-03 21:30] geneyoo commented on #12
I'm looking into it right now -- I'll let you know if I find success into using the indices (it looks likely, at least for the original format). But, another thing I'm worried about is the new concatenated files that we would be using? Since pierre now combined the files... the indices for the new searches will not be valid.

[2015-03-03 21:33] geneyoo opened #14 "Create regex of answers to the LQ"
Writing out answers in parsable regex with @peparedes @xih

[2015-03-03 21:35] geneyoo commented on #5
Current status:
-Populating our own Dictionaries of key words, for the queries
-assigning some of the more tedious/abstract questions via Amazon Mechanical Turk
-once completed, I will compile to a regex document for usability

[2015-03-03 22:26] davclark commented on #12
It's not clear that we need to be looking at the same files for all cases... I think it's fine for now if the lucene index returns the smaller / older files.

[2015-03-03 22:27] davclark commented on #3
I'm finding that cloning the git repository (not even copying any files with git annex yet) is unacceptably slow. I'm thinking I'll create a new git annex with just these new files.

That said, @anasrferreira appears to be working right now, so I'll wait to do this later. At this point, maybe I'll just do it at the meeting tomorrow.

[2015-03-03 23:53] anasrferreira commented on #3
@davclark and @cdschillaci I've changed newparse.cpp to strip out the path for the input file if an output path is given. The new xmltweet2.exe is compiled in my home folder (/home/xmltweet2.exe).

[2015-03-04 00:50] cdschillaci commented on #10
When did you last update? When I try to run BIDMach I get

[2015-03-04 01:05] davclark commented on #3
@anasrferreira please submit a pull request to @jcanny, per the above issue!

[2015-03-04 01:11] davclark commented on #10
Sorry about that - you should use `./bidmach2` - I was just looking to figure out the differences between the two scripts, and ./bidmach2 has appropriate settings for the installation on mercury.

Should we put this on the wiki?

[2015-03-04 01:28] davclark commented on #10
I just renamed the old `bidmach` and made a symlink to bidmach2.

[2015-03-04 01:51] cdschillaci opened #15 "Run xmltweet on the data set"
@davclark Do we have disk space to run the tokenizer at this point? I uploaded a script  into process_data/tokenize_files.sh which can be run with minimal changes (just select the input and output folders).

[2015-03-04 04:28] davclark commented on #15
What's the ratio of input size to output size?
On Mar 3, 2015 5:51 PM, "cdschillaci" notifications@github.com wrote:

[2015-03-04 05:01] cdschillaci commented on #15
It's pretty close to 1:1 actually, so I guess definitely not enough space. Here's an example.

Raw:

Tokenized:

[2015-03-04 05:49] davclark commented on #15
Yeah - we could do a subset, but we are definitely lean on space. There is
a 3TB drive coming via FedEx...

D

On Tue, Mar 3, 2015 at 9:01 PM, cdschillaci notifications@github.com
wrote:

[2015-03-04 11:27] geneyoo commented on #12
Just tested a few searches using some queries with the copied /index/ directory, and it seems valid/functional. It looks like we won't need to re-create indices.

[2015-03-04 17:15] peparedes commented on #12
Excellent!

Good job!

P
On Mar 4, 2015 3:27 AM, "geneyoo" notifications@github.com wrote:

[2015-03-04 17:30] jcanny commented on #3
Sorry I was slow with this. I pushed a similar change to the master
branch. It compiles but I havent had a chance to test it. Can you check
it out?

-John

On 3/3/2015 3:53 PM, anasrferreira wrote:

[2015-03-04 18:14] jcanny commented on #3
Today,
Folks I'm volunteering at my kids school so cant make the meeting today.
But I would recommend a very relevant talk by Dean Eckles in 330 Blum
Hall from 3-4pm today. Dean is at facebook and is doing both real and
observational studies (the kind we want to do with existing data) on
Facebook's datasets.

-John

[2015-03-04 18:40] anasrferreira commented on #3
@jcanny xmltweet seems to work.

[2015-03-05 00:22] anasrferreira commented on #15
@davclark new xmltweet.exe is now compiled and moved to /var/local/destress/scripts/
@cdschillaci tokenize_files.sh has been updated with new xmltweet.exe path.

[2015-03-05 01:07] cdschillaci commented on #15
@anasrferreira Is this your version or the new official BIDMach version?

[2015-03-05 01:09] anasrferreira commented on #15
This is from the most recent BIDMach pull onto my mercury account.
BIDMach doesn't come with xmltweet.exe. It needs to be compiled.

[2015-03-05 01:35] coryschillaci commented on #12
Can we close this issue? Seems like the remaining work is in #11 .

[2015-03-05 03:06] #12 closed

[2015-03-05 06:57] peparedes commented on #15
Actually I think it does... I think it is in BIDMach/bin

P

On Wed, Mar 4, 2015 at 5:09 PM, anasrferreira notifications@github.com
wrote:

[2015-03-07 01:31] coryschillaci commented on #3
Met today with @coryschillaci @anasrferreira @lambdaloop

@lambdaloop Will look at making sure that xmltweet parses closing </tag> properly

@anasrferreira Will work on turning parsed imat/sbmat files into feature vectors

Proposed Featurization
- A data point will correspond to each post with a moodid tag and text post.
- Post date will be saved, either from date string or system timestamp
- Each

[2015-03-07 01:33] coryschillaci opened #16 "Upload some basic Scala functions for working with xmltweet output"
Upload some sort of utilities file with various helpful functions for dealing with the xmltweet output.

[2015-03-10 02:02] davclark commented on #15
I announced this on Slack - but just so we're clear, there's 2TB now on /var/local

[2015-03-10 04:13] coryschillaci commented on #15
Running xmltweet on everything now.

[2015-03-10 04:34] coryschillaci opened #17 "Upload Mechanical Turk results for affect circumplex"

[2015-03-10 04:36] davclark commented on #15
Whee!

On Mon, Mar 9, 2015 at 9:13 PM, coryschillaci notifications@github.com
wrote:

[2015-03-10 05:03] anasrferreira commented on #16
Done. (very beta stuff still)

[2015-03-10 05:03] #16 closed

[2015-03-10 05:41] peparedes commented on #17
Done

[2015-03-10 05:41] #17 closed

[2015-03-10 05:53] anasrferreira opened #18 "xmltweet doesn't parse all the </string> occurrences as xml tags"
Number of instances of `<string>` and `</string>` in dictionary.imat (or file.xml.imat) is not always the same.
Run:
[code]
To see when this occurs, search for tags `<event>` and `</event>`

Seems like in most cases it finds the pattern `;<` instead.
[code]

An example where it is parsed correctly:
[code]

[2015-03-10 05:55] anasrferreira commented on #18
We can work around this, but @lambdaloop is looking into this.
Might be of interest to @jcanny

[2015-03-10 06:44] coryschillaci commented on #15
Ran in 115 minutes. The dictionaries etc. have been output to `/var/local/destress/tokenized`

[2015-03-10 06:44] #15 closed

[2015-03-10 19:08] peparedes commented on #15
Awesome!

P
On Mar 9, 2015 11:44 PM, "coryschillaci" notifications@github.com wrote:

[2015-03-11 16:27] coryschillaci commented on #3
@helgammal
Have you tried merging all of the dictionaries at once using this? I'm wondering if the full merged dictionary is too big to deal with in this way.

We can save some disk space and later processing time if we do the index update now with a trim. I noticed that the big dicts, for example, are about 80% one-time entries. The Dict class has a method to `Trim`:

[code]

We should discuss wh

[2015-03-11 16:36] coryschillaci opened #19 "Finalize mapping from moodid to circumplex affects"

[2015-03-11 16:38] coryschillaci commented on #19
@anasrferreira and @peparedes Should also upload their manual responses, then we need a strategy to merge with the Mech Turk data.

[2015-03-11 16:52] helgammal commented on #3
@coryschillaci : I haven't actually tried merging all of the data but I think your concern is quite valid; another concern is whether keeping this in memory is a good idea or whether we'd need to write it to disk periodically. Trimming makes a lot of sense, too.

[2015-03-11 18:08] coryschillaci commented on #3
@anasrferreira Has finished working on a scala script to featurize one xml file at a time dca678a478272e955b330ff60d332db489c774b7.

[2015-03-11 18:21] peparedes commented on #19
I can also get more mturk data (re -  law of large numbers :)

Let's merge what we have...  My personal assessment is also already very
biased by the mturk data analysis.

P

[2015-03-11 19:34] coryschillaci commented on #19
More turk data won't hurt if there's money to pay for it! If you do run, can you put a test that they correctly identify most of the moodids that occur as circumplex affects as well in order to get credit? The ones that occur in both lists are:
- happy
- excited
- nervous
- stressed
- sad
- depressed
- bored
- calm
- relaxed
- content (contented in circumplex)

[2015-03-11 20:36] coryschillaci opened #20 "Modify flex file to ignore contents of <base64></base64> tags"
Needed for #3

[2015-03-11 20:41] coryschillaci opened #21 "Merge dictionaries after xmltweet"
Splitting this out from #3.

For starters, let's just merge the dictionaries and trim them whenever the number of entries becomes too large (@jcanny suggested 1 million).

[2015-03-11 20:43] coryschillaci commented on #20
See also #18 for the specific case of `</string>`

[2015-03-11 20:57] coryschillaci commented on #21
Step 2 will be to deal with the noise from `<base64>` stuff. @lambdaloop may solve with #20 so that we don't need to worry downstream of xmltweet.

[2015-03-12 04:57] coryschillaci commented on #19
I checked the idea of scoring the MT responders by percent of the above list that they assigned correctly to the identical circumplex affect. The majority vote gets 100%, which is good. It looks like the first five do much better than the last five.
![screen shot 2015-03-11 at 9 56 53 pm](https://cloud.githubusercontent.com/assets/717954/6612449/937aa58c-c839-11e4-81bb-5e96ac6dd354.png)

[2015-03-12 05:44] peparedes commented on #19
yeah, so we need more day data... i will not post then the job till tomorrow

thanks

p

On Wednesday, March 11, 2015, coryschillaci notifications@github.com
wrote:

[2015-03-12 23:19] coryschillaci commented on #21
Made a first stab at merging and trimming dictionaries in commits leading up to 16c41816cdd98d993ecc2cbdc1335a041d49c1b4

To run on full data set, use

[code]

For some reason it breaks when processing al.xml,

[code]

[2015-03-13 00:03] coryschillaci commented on #21
The error is independent of how many files are processed before (including if it's the first one processed). I've found it also hangs on `an.xml`, `ch.html`

[2015-03-13 00:09] coryschillaci commented on #21
Maybe we can't load in sbmats this large?

[code]

Except it works on ca.xml, which is almost as big as ch

[code]

[2015-03-13 01:09] helgammal commented on #21
@coryschillaci Random thought: Could this be the buffer size being used when running xmltweet? There is a default buffer size used in the code and maybe that's not enough on big files? You can pass that option using '-s' when running xmltweet.

[2015-03-13 02:46] coryschillaci commented on #21
Looks like there is some problem with the `.xml.imat` files:

[code]

The ones I can't load are all the smallest .imat files:

[code]

[2015-03-13 05:48] coryschillaci commented on #21
The dictionaries have been merged, keeping the total entries less than 10^6. This required a trim threshold of 168. The counts and string are now in `/var/local/destress/tokenized` as `masterDict.dmat` and `masterDict.sbmat`, respectively.

[2015-03-13 05:49] coryschillaci opened #22 "Broken imat files after running xmltweet"
See #21, some of the imat files produced by xmltweet can't be loaded.

[2015-03-13 06:47] coryschillaci commented on #3
I updated the featurizer code to work with the new master dictionary in commit 91f398ba9340954e9988db28469e43ec1ef06775

Next step is to modify code so that we can featurize all the data files. @anasrferreira @coryschillaci

[2015-03-13 19:10] coryschillaci opened #23 "Update loadDict in utils.scala to handle DMat counts"
The loadDict function currently only accepts an IMat for the counts matrix, but the master dictionary counts are now in a DMat because some counts overflow integer values.

[2015-03-13 19:34] anasrferreira commented on #23
Just need to overload that method with DMat.

On Friday, March 13, 2015, coryschillaci notifications@github.com wrote:

[2015-03-14 01:45] coryschillaci commented on #23
b5e76b84bb761d9c76102089ea281202f7f2436d

[2015-03-14 01:45] #23 closed

[2015-03-14 16:29] jcanny commented on #21
Those must be empty matrices (there are 4 words of metadata, i.e. 16
bytes). I'll change the reader so it can handle those.

-John

On 3/12/2015 7:46 PM, coryschillaci wrote:

[2015-03-14 16:42] jcanny commented on #21
Actually it doesnt look like a zero file size problem. Should those
files be empty? Or should they be very large? The tokenizer uses normal
ints (32bits) for indexing so it has a maximum output size of 2 GB - and
Java has the same limitation. Should those files have been larger than
that? If so they would need to be split into some smaller files.

-John

On 3/12/2015 7:46 PM, coryschillaci wrote:

[2015-03-15 15:48] coryschillaci commented on #21
I think this is the second case where the original file was too big. @lambdaloop do you have time to give us smaller concatenated files in two pieces for the cases listed above? If not, @anasrferreira or I can do it when we have time.

[2015-03-18 06:38] coryschillaci commented on #21
Rerunning the concatenation into max 100Mb chunks. The concatenation script was changed in d614050c1105728e57d66c610206e2239993da9f

[2015-03-18 06:38] #21 closed

[2015-03-18 19:22] coryschillaci commented on #22
@anasrferreira Do these all load safely now?

[2015-03-18 21:41] anasrferreira commented on #22
Yes. All seem to load fine now.

[2015-03-18 21:41] #22 closed

[2015-03-18 23:04] coryschillaci commented on #20
Solved by @lambdaloop in 7b17ae500ca47faf1adb71fabc5fb44353b89e34

[2015-03-18 23:04] coryschillaci commented on #18
Solved by @lambdaloop in 7b17ae500ca47faf1adb71fabc5fb44353b89e34

[2015-03-18 23:04] #18 closed

[2015-03-19 00:52] coryschillaci commented on #20
@lambdaloop I tried compiling xmltweet with your new flex file. When I run on a test file containing,

[code]

The output (stripped of number tokens) is

[code]

Any idea what's up?

[2015-03-19 01:01] coryschillaci commented on #20
It looks like if there is a newline anywhere in the base64 tag it does this. Hopefully that doesn't happen in the data.

[2015-03-19 01:06] #20 closed

[2015-03-19 02:06] coryschillaci opened #24 "Not getting all <event> tags"
This post,

[code]
gets tokenized as
[code]

It looks like xmltweet is munching everything between two *different* `<base64>` and `</base64>` tags. In this case `</base64></subject><event><base64>` is dropped along with two base 64 entries.

[2015-03-19 03:36] lambdaloop commented on #24
Ah right, I forgot I can't parse greedily.
I pushed a fix, it seems to work. Could you test it now?

[2015-03-19 04:09] coryschillaci commented on #24
Great, thanks! Only issue was that you need to get the new version of BIDMach so that the c++ files are all correct, I had to recompile.

[2015-03-19 04:09] #24 closed

[2015-03-19 04:11] lambdaloop commented on #24
Oh woops, I used the one in /opt on mercury. I guess it's out of date...

[2015-03-29 17:52] coryschillaci opened #25 "Memory problems in dataparser.scala"
In the last week before break @anasrferreira and @coryschillaci reprocessed the raw data into smaller chunks (max ~100Mb), tokenized without any of the `<base64>` stuff included (thanks to @lambdaloop).

The raw concatenated xml files are currently in `/var/local/destress/combined2/events/`. These are concatenated using the script `/path/to/destress/clean_data/combine_data.sh`. For some reason, a

[2015-03-29 19:01] jcanny commented on #25
Hi,
I noticed in the code for dataparser taht you're concatenating data to matrices on lines 102 and 113. If you think about it, what that's doing is taking whatever matrix you have for "labels" or "sBagOfWords", creating a new matrix one element longer, and then discarding the old matrix. There's no efficient way to do that (e.g. C++ vector requires you to turn the same object with an element app

[2015-04-01 18:10] coryschillaci commented on #25
I made all of the suggested changes, but was still running out of memory when running as a script. These changes were committed as part of c5dfb8ced5068b93351d2d18faa24618ab067a43

After talking with @jcanny, we decided it would be best to try compiling the code to see if that would fix the problem. As such, I made changes so that everything can be compiled and then run as functions from scripts.

[2015-04-01 18:10] #25 closed

[2015-04-01 21:05] davclark commented on #7
Update today from @coryschillaci:

About 30% of posts with text have a mood id!

Do you want to make a report somewhere shared, @coryschillaci?

[2015-04-01 21:05] davclark commented on #3
So is this closeable?

[2015-04-01 21:08] davclark opened #26 "Baseline classifiers"
John recommended increasing threshold to include ~10M tokens.

@davclark would love to see a confusion matrix once there are classifiers. This could be another route to creating an input for somethng like ICA.

cc @anasrferreira

[2015-04-01 21:09] davclark opened #27 "Generate word2vec representation from crowd-sourced Life Event descriptions"
@davclark has worked with word2vec recently, feel free to reach out.

[2015-04-01 21:11] davclark opened #28 "Presentation for Data Science Faire - 5/5 from noon-6pm"
What do we want to show?

 - word2vec on life event phrases?
 - Classification?
 - Can we make claims about life events?
 - Causal inference?

[2015-04-01 21:52] lambdaloop commented on #27
Sorry, I had to miss today's meeting.

Can I also work on this? I'm very interested in word2vec.

[2015-04-01 22:40] coryschillaci commented on #3
Almost! I will close once I have a clean output.

[2015-04-01 22:50] coryschillaci commented on #7
The plan is to add some statistics tracking to the featurizer code, then I'll post some results to the Wiki. If anyone has statistics they especially want, please let me know.

[2015-04-01 23:02] coryschillaci commented on #3
Another to do on this issue: organize bag of words features by their frequency.

[2015-04-02 00:02] peparedes commented on #27
Sounds good Pierre!... we wanted to meet on Friday, but we will wait to
know if Dennis can make it first.

P

On Wed, Apr 1, 2015 at 2:52 PM, Pierre Karashchuk notifications@github.com
wrote:

[2015-04-02 00:07] peparedes commented on #28
all of the above if we accomplish it

P

On Wed, Apr 1, 2015 at 2:11 PM, Dav Clark notifications@github.com wrote:

[2015-04-02 00:33] coryschillaci commented on #26
The cutoff in the trimming is actually around 41 now that we have stripped the `<base64>` stuff out, so I don't think there is a reason to push up to 10^7 tokens.

[2015-04-02 00:56] lambdaloop commented on #27
Uhh, I'm only available after 6pm on Friday, if you guys are alright with that.

[2015-04-02 05:44] coryschillaci commented on #3
A dataset with moodid tags is now available in `/var/local/destress/featurized/`. The posts are saved in 320 batches of 100,000 (except the last batch which is 70,384 posts).

[2015-04-02 05:44] #3 closed

[2015-04-02 18:44] coryschillaci commented on #7
Actually it turns out that nearly 50% of posts with string content have moodid tags!

[code]

[2015-04-02 18:45] peparedes commented on #7
Nice...  Very interesting

P
On Apr 2, 2015 11:44 AM, "Cory Schillaci" notifications@github.com wrote:

[2015-04-02 18:54] coryschillaci commented on #7
The five most common moodids are

The five least common moodids are

[2015-04-02 18:58] peparedes commented on #7
Any idea of the variation of emotion per user?

P
On Apr 2, 2015 11:54 AM, "Cory Schillaci" notifications@github.com wrote:

[2015-04-02 19:17] coryschillaci commented on #7
@peparedes How would you suggest measuring that?

[2015-04-02 19:31] coryschillaci commented on #7
Without trimming the dictionaries, the following statistics apply to the distribution of word counts for each string post:

After trimming the dictionaries and retaining only the words which exist in the trimmed dictionary, the following statistics apply to the distribution of word counts for each string post:

[2015-04-02 19:33] coryschillaci commented on #7
188,847 posts with moodids have 5 words or less

[2015-04-02 20:01] peparedes commented on #7
Lest start by counting per user...  A matrix of users against moodids with
the number of counts on each element...

A most elaborate approach would be a timeline per user.

P
On Apr 2, 2015 12:17 PM, "Cory Schillaci" notifications@github.com wrote:

[2015-04-02 20:21] coryschillaci commented on #7
OK that's a bit of work. I'll try to get around to it this weekend.

[2015-04-02 20:24] coryschillaci opened #29 "Create a BIDMat dict for moodids"
Can someone generate a BIDMat dict which maps the moodids to their strings? Should be 135 entries. Zero should correspond to "not specified" in someway, while 50 and 94 are not used by LiveJournal,  @anasrferreira or @lambdaloop willing to volunteer?

[2015-04-02 20:45] peparedes commented on #7
Thanks Cory... if you give me some guidance I can help.  lmk if you have a
bit of time tomorrow.

P

On Thu, Apr 2, 2015 at 1:21 PM, Cory Schillaci notifications@github.com
wrote:

[2015-04-02 20:45] xih commented on #27
So I'm still deciding if I want to go to LA for some event this weekend. But I'll let you know by tonight. I can meet with y'all anytime after 3 on Friday if I'm not going.

[2015-04-02 21:03] coryschillaci commented on #7
I think it will be most straightforward to make a new function in `featurizers.scala` which is a variation of the current  `featurizeMoodID`. If you can figure out the code that @anasrferreira and I wrote, this version should actually be simpler. It's probably easiest for me to do it though, since I worked on the other code most recently.

[2015-04-02 21:21] coryschillaci commented on #25
To get jcuda to work properly on Mercury, edit two lines in the `./bidmach` script as:

`export DYLD_LIBRARY_PATH="${LIBDIR}:/usr/local/cuda/lib:${DYLD_LIBRARY_PATH}` ---> `export DYLD_LIBRARY_PATH="${LIBDIR}:/usr/local/cuda-6.5/lib:${DYLD_LIBRARY_PATH}`

`export LD_LIBRARY_PATH="${LIBDIR}:/usr/local/cuda/lib:${LD_LIBRARY_PATH}`
 ---> `export LD_LIBRARY_PATH="${LIBDIR}:/usr/local/cuda-6.5/lib64:${

[2015-04-03 00:41] davclark commented on #27
I think I will let you all get started without me, as my weekend will be
quite full. But so you know, here's some info about word2vec in gensim:
http://radimrehurek.com/2013/09/deep-learning-with-word2vec-and-gensim/

It's also an interesting argument for using high-level languages (it's
faster than Google's C code).

Best,
Dav

On Thu, Apr 2, 2015 at 1:45 PM, xih notifications@github.com wrote:

[2015-04-03 03:10] #11 closed

[2015-04-03 12:50] xih commented on #27
I'll be in Berkeley this weekend.

[2015-04-03 17:36] peparedes commented on #27
We can meet tomorrow or Sunday...

What is your preference?

P

[2015-04-03 20:18] coryschillaci opened #30 "Create a dataset for running ICA"
Currently discussing what should be in the dataset with @DanielTakeshi and @jcanny.

[2015-04-06 02:05] anasrferreira commented on #29
Done. See sbmat file: `/var/local/destress/moodDict.sbmat`

[2015-04-06 02:05] #29 closed

[2015-04-06 16:56] xih opened #31 "word2vec"
Hey @coryschillaci, @anasrferreira

Where is the combined dictionary located ?

I'm looking in /var/local/destress/  but all I see are multiple xx_dict.imat files or xx_dict.sbmat files. There is no one combined / golden one.

Followup:

How would I go converting this binary representation back to text representation ? i.e. like this

{'minors': 11, 'graph': 10, 'system': 5, 'trees': 9, 'eps': 8,

[2015-04-06 17:24] anasrferreira commented on #31
The master dictionary is in: `/var/local/destress/tokenized/` under `masterDict.dmat` and `masterDict.sbmat`

For your binary representation example. Do the numbers mean, counts of word, or the indices you want to use?
Usually the text gets converted from a specific 'word' -> index of word in dictionary
In BIDMat, the dictionary field cstr has all the words order by index, eg: 'dummy', 'is', 'scal

[2015-04-07 02:19] davclark commented on #31
We talked today about what the exact structure of the matrices... none of us were sure how they were structured.

the masterDict files just have the combined mappings - but where are the converted posts that use those mappings (and what is the structure)? We should put this in the Wiki (or alternatively in a README or something).

[2015-04-07 02:27] coryschillaci commented on #31
There is some info on the wiki at
https://github.com/berkeley-dsc/destress/wiki/Processing-Pipeline

On Monday, April 6, 2015, Dav Clark notifications@github.com wrote:

[2015-04-07 02:40] davclark commented on #31
Ah! Thank you - that's very clear. I'll leave this for @xih to close.

[2015-04-07 19:01] #31 closed

[2015-04-08 07:00] coryschillaci commented on #7
@peparedes I created the matrix you described with the counts of moodids per user. 38d5635cc137aa4f15751832710e289f7eeba8eb

You can find this file in `/var/local/destress/dataForICA/moodsByUser.smat.lz4`. Each column corresponds to one user, where the row number indicates the moodid. Rows 0, 50 and 94 are always zero so that the line corresponds directly to moodid.

For convenience, @anasrferreir

[2015-04-08 07:17] coryschillaci commented on #7
Some additional statistics from making the moodsByUser set:

[code]

[2015-04-08 07:37] coryschillaci commented on #7
Regarding the number of moodids per user in this matrix,

[2015-04-08 18:38] coryschillaci commented on #30
Excerpts from an email to @DanielTakeshi

[2015-04-09 00:47] coryschillaci commented on #30
I moved the data described in the above message to `/var/local/destress/dataForICA/moodsByUser.smat.lz4` so it isn't mixed in with the bigger bag-of-words set.

[2015-04-14 21:47] xih opened #32 "Loading matrix"
@coryschillaci  @anasrferreira  @davclark

When I try to load a txt file into BidMat I'm getting a column vector instead of a matrix.

My input file is vectors.txt located in /var/local/destress and I tried load[F,D,I,L]MAT, however I am still getting
scala> size(t)
res5: (Int, Int) = (3000001,1) which is a column vector.

Any help on getting a correct n x m matrix. Or is my input file, vectors.tx

[2015-04-14 22:25] DanielTakeshi commented on #32
It's almost certainly because the first line is a single number. I'm not sure why that's there. Try deleting it and load again. I load text files all the time, and I tried adding in a single number as the first line to see if that would screw it up, and loadFMat() only took the first number in each line to create a column vector.

[2015-04-15 00:42] #32 closed

[2015-04-16 10:03] peparedes opened #33 "word2vec generating results!"
Guys, good news!!

@lambdaloop  and @xih managed to merge their matrices and magic is being done.  @xih  created a matrix of words (taken from the master dict) to vectors (taken from the Google word2vec corpus). @lambdaloop  created a bag of sentences mapped onto words (a very sparse one of course).  The fusion (multiplication) of both created a matrix of sentences mapped into vectors.

Our first

[2015-04-16 22:13] coryschillaci commented on #33
@lambdaloop Are you happy with the sentence by sentence featurizer?

[2015-04-16 22:19] lambdaloop commented on #33
@coryschillaci
Do you see something wrong with it?

One problem with it is that it maps the punctation from the previous sentence, instead of the current one. To fix that, I would need to shift the sentence indices by one, but I'm not sure how to do that yet in Scala (it's probably trivial).

Another problem which Pablo touched on above is that I also want to store the word order of the sentences

[2015-04-16 22:24] lambdaloop commented on #33
By the way, the sentence by sentence featurizer code is in here:
https://github.com/berkeley-dsc/destress/blob/master/process_data/featurizers.scala

The rest of the word2vec effort (@xih's code to generate a matrix word2vec vectors for the words in our master dictionary and an initial query script) is in the word2vec directory:
https://github.com/berkeley-dsc/destress/tree/master/word2vec

[2015-04-16 22:25] peparedes commented on #33
@lambdaloop, could you please send a histogram of the sentence lengths.

Thanks,

Pablo
On Apr 16, 2015 3:19 PM, "Pierre Karashchuk" notifications@github.com
wrote:

[2015-04-16 22:28] lambdaloop commented on #33
@peparedes Oh, I haven't run the featurizer on the whole dataset yet. I'll run it tonight and report.

[2015-04-17 01:03] geneyoo commented on #33
@peparedes I recall reading about Solr (which is very similar to Lucene, but is a java web-app version). This may be what we're looking for, to give MTurkers access to the full-text search, though I am not sure because our files& indices would still be on a private server. If permissions are not an issue, I will be happy to set up another full-text search via Solr.

@davclark do you have any info

[2015-04-17 03:02] lambdaloop opened #34 "Problem loading SBMat"
So I am saving the sentences we have as SBMat files.
However, it seems I can't load most of those (although some load).

Here is a typical error:
[code]

Whereas data10_sent.sbmat loads fine:
[code]

Does anyone know how to fix this?

Tagging anyone who might know:
@coryschillaci @DanielTakeshi @anasrferreira @davclark

[2015-04-17 04:52] DanielTakeshi commented on #30
Closing this now because it appears to have been resolved. Also, note that I've pushed a file, moods_data.tar.gz onto my directory on mercury, /home/daniel, which has the data ICA generated, along with a README to make it crystal clear how I did things.

[2015-04-17 04:52] #30 closed

[2015-04-17 05:11] coryschillaci commented on #34
Where is the code you use to generate these?

On Thu, Apr 16, 2015 at 8:02 PM, Pierre Karashchuk <notifications@github.com

[2015-04-17 05:16] DanielTakeshi commented on #34
I checked this directory and it seems like all files except the .imats have the .lz4 extension. Did you do something before that to arrive at dataXY_sent.sbmat without the lz4?

For what it's worth, I tried using loadSBMat("data9_sbmat.lz4") and that failed with an error in the type field. I will look at this again tomorrow morning if it hasn't been resolved already.

[2015-04-17 05:22] lambdaloop commented on #34
I ended up doing a different thing,  although I think the bug I encountered is still there.
I used to have sentences saved in a CSMat which I convert to an SBMat and save.
I tried with and without lz4 extension and got the issue above in both cases.

I ended up changing the code so that I only save integers corresponding to the words, and that seems to work alright.

I also deleted the old files a

[2015-04-17 05:22] #34 closed

[2015-04-17 06:34] lambdaloop commented on #33
It works!!!

I've made a query script, which we can use to match a word or sentence to the database using word2vec.

You can call it like this (on mercury):

[code]

Then you will be put onto the scala shell with BIDMach bindings and a query function.
query takes 2 arguments, the word(s) to match and the number of top entries to return.

Examples:

[code]

[2015-04-17 06:35] peparedes commented on #33
Awesome!! Will try it asap.

P

On Thu, Apr 16, 2015 at 11:34 PM, Pierre Karashchuk <
notifications@github.com> wrote:

[2015-04-17 06:36] lambdaloop commented on #33
Some initial results:

[code]

[2015-04-17 06:37] lambdaloop commented on #33
The first number is the correlation of the search vector with the sentence.

[2015-04-17 06:38] peparedes commented on #33
Very cool!... Try some sentences derived from the LEQ!
P

On Thu, Apr 16, 2015 at 11:36 PM, Pierre Karashchuk <
notifications@github.com> wrote:

[2015-04-17 07:23] lambdaloop commented on #33
[code]

[2015-04-17 08:20] peparedes commented on #33
very interesting!  Some have pretty good answers!

P

On Fri, Apr 17, 2015 at 12:23 AM, Pierre Karashchuk <
notifications@github.com> wrote:

[2015-04-20 18:04] davclark commented on #33
@geneyoo I don't have a problem with using mercury as a solr server. If you need https, I have a certificate set up for that - the best approach is to do forwarding via nginx.

That said, I've never done it. If you want to do this, let's be in the same place so I can be responsive as necessary.

If we continue this Solr discussion, we should probably move it to a different issue.

[2015-04-21 00:46] davclark commented on #34
It would be great if you could make a self-contained example that demonstrates the problem. But it should be submitted on the BIDMat issue tracker!

[2015-04-24 23:58] #14 closed

[2015-04-26 00:38] xih opened #35 "importing bag of words data into gensim"
@davclark @geneyoo @lambdaloop

Hey Dav

We're trying to import our masterdict into python so that we can train it with gensim. Pierre is saving the data into a scipy sparse matrix.

To train the data using word2vec on Gensim it requires sentences / words as input. Is there anyway I can feed it a sparse matrix ?

Cheers

[2015-04-26 01:22] davclark commented on #35
word2vec is based on "skip-grams" - i.e., the distance between words as they occur in linear text. If I understand correctly, you are getting a bag-of-words representation from @lambdaloop, and this will not be usable as a training sample for word2vec.

However, it is not clear that you need to train a new model for a first pass. Rather, you should be able to use a pre-existing model, e.g. [from g

[2015-04-26 01:24] davclark commented on #35
Also - please do not commit that file to the git repo! You should add it to `.gitignore`.

[2015-04-26 02:03] lambdaloop commented on #35
Hi Dav!
Ah I see, I thought that it was only based on a bag of words model of words.

We actually did use the Google News model as a first pass! You can see some initial results here:
https://github.com/berkeley-dsc/destress/issues/33

But we thought we may get some benefit from training on the more informal livejournal data instead. I'll provide actual sentences with proper word order then.

[2015-04-26 02:55] davclark commented on #35
Right - now that you mention it, I remember that :\

Note that while gensim will support continued training of it's models, the models from Google don't (I think) have all the necessary data to allow continued training. But you should check around if you decide to take a hybrid approach.

[2015-04-26 03:53] geneyoo commented on #35
I think we decided to just try to make another copy of our data in a .txt file with 1 sentence per newline. That seems to be the input that Gensim wants.

[2015-04-30 23:03] geneyoo commented on #35
It's looks like my gensim implementation w/ pierre's generated text files are working. It's currently building the model/training on Mercury.

oh and, @davclark , I was prompted to "update" on mercury so I typed the command it gave me... and then it said that because I don't have sudo access, it would report me. Just thought I should let you know.

[2015-04-30 23:12] lambdaloop commented on #35
Tell us when it's done, so that @xih can recreate a bidmach word2vec matrix, and I can plug it in to my query program.

[2015-05-01 22:04] #33 closed

[2015-05-02 04:08] lambdaloop opened #36 "word2vec new results!"
So I built the multi query system that we talked about, where we would query with multiple phrases and see which sentences match the best.

This works really really well!!

Here are the phrases used to query the system (these are phrases Pablo, Dennis, and I grabbed from the query results on "illness"):
[code]

Here are the top 100 results from the multi-query:
8.938 -- it s been the worst and bes

[2015-05-02 04:08] lambdaloop commented on #36
@peparedes @geneyoo @xih
I pasted the results above. They look great!

[2015-05-02 04:18] peparedes commented on #36
This is super super good! I think we are into something with the Google
News stuff.  As Pierre said, maybe it would be even better than the actual
dataset, as the Google News do carry a lot more interactions between words
that may not appear in our livejournal corpus, such as the relationship
between illness and cancer... people posting personal stuff rarely speak
about illness, but news articles

[2015-05-02 04:48] geneyoo commented on #36
Awesome. The training over our LiveJournal dataset finished, and you can find the models in:
 /var/local/destress/word2vecLJ.model        (gensim's format)
/var/local/destress/word2vecLJGoogle.txt    (google's c-text format)

Let me know if you prefer the binary version for the google format, in which case I can convert it to a .bin file. We can start comparing results from google news vs. our "us

[2015-05-02 04:49] lambdaloop commented on #36
Hey Pablo,

If I run a few queries for each life event and give you 100 matches, could
you run a mechanical turk thing?
We would ask them to find the sentences which are related to the life event.
Something like: "Copy down the lines which convey a major change in eating
habits"

--Pierre

On Fri, May 1, 2015 at 9:18 PM, Pablo Paredes notifications@github.com
wrote:

[2015-05-02 04:50] peparedes commented on #36
Sure, I can put them to run over night... the only problem is that the
night results are kinda crappy, the daily ones are better (its the
population bias in turk).  But hey, let's just do it.

P

On Fri, May 1, 2015 at 9:49 PM, Pierre Karashchuk notifications@github.com
wrote:

[2015-05-02 04:55] lambdaloop commented on #36
@geneyoo Actually, google's c-text format looks like the bin format!
@xih Could you convert the new word2vec files to an fmat?

@peparedes Oh, we can run it during the day tomorrow if that's better.
Though, this should be a pretty easy task, hard to do badly I think.

[2015-05-02 05:47] peparedes commented on #36
Yeah... it is amazing how much noise "bad" turkers enter... but just send
me the data whenever you have it and I will start implementing the turk
tasks

P

On Fri, May 1, 2015 at 9:55 PM, Pierre Karashchuk notifications@github.com
wrote:

[2015-05-02 07:37] lambdaloop commented on #36
@peparedes
I finished creating the data.

You can find it in:
/var/local/destress/life_events_sents/

There is a file called "life_events.csv", which has a list of life events with their ids.
For each life event, there is a file with that id, with a list of target sentences to pick from (obtained from queries on keywords corresponding to life event).

I would give the turkers the life event descri

[2015-05-03 01:18] davclark commented on #35
@geneyoo - don't worry about system updates. I'll take care of that. Avoiding it right now, as we don't want the system to change!

[2015-05-06 15:45] coryschillaci commented on #28
Fair complete. Added the poster to the git repo.

[2015-05-06 15:45] #28 closed

[2015-05-06 15:46] #7 closed

[2015-06-03 23:38] geneyoo opened #37 "Make new MasterDict and Word2Vec Model"
1) Train new word2vec model based on concatenated text files
2) Make new Master Dictionary, based on the new corpus (the one I am using to train word2vec)

[2015-06-04 00:01] xih opened #38 "6/3/15 Meeting"
Word2Vec: @geneyoo @peparedes

Instead of the google-news trained corpus of data we are now going to train our own model using LiveJournal (LJ). Gene will give me (Dennis) the corpus of bag of words model of posts and the I will make the corresponding masterDict. After making this new masterDict of DMat (counts) and IMat (indexes), we estimate that this new dictionary will still be ~900K words. Th

[2015-06-11 03:56] DanielTakeshi opened #39 "Trying to plot some mood IDs on a 2-D coordinate system"
Since other people have written preliminary results on the issues tracker, I will do the same for now.

Following some discussion with @peparedes I've been trying to plot the 132 mood IDs on a 2-D coordinate system so that we can analyze where certain moods fall on an axis system. I did a quick test with the following data: a 132 x 780471 matrix where each column corresponds to a user (who many ha

[2015-08-05 16:41] #26 closed

[2015-08-05 16:48] coryschillaci opened #40 "Process LiveJournal into sentences for BIDMach"
The LiveJournal text needs to be processed into a format ready for BIDMach to train skip-thought representations (also the same as needed for word2vec). @geneyoo or @xih are either of you willing to work on this over the next week? If so please assign yourself! @coryschillaci has some code that does this for twitter and shouldn't be too hard to modify.

[2015-08-05 16:51] coryschillaci commented on #40
FYI the format is a two row array, in each column there is a sentence ID number on the first row (not necessary that it be unique, only that it changes between adjacent sentences) and the dictionary token for the word on the second row.

[2015-08-06 22:02] coryschillaci commented on #40
Since nobody volunteered and I had some spare time this morning, I went ahead and implemented. See commit a0f6425441cf72f17981d30e3090bbc751085e68

It might be good to consider a few issues at some point:
1. Currently line breaks are eaten by the flex tokenizer, might be good to keep them as sentence breaks.
2. Acronyms with periods currently break sentences.
3. Might be good to tokenize contracti

[2015-08-06 22:15] #40 closed

[2015-08-11 07:45] xih commented on #40
Hey Cory, sorry for being super mia. I've been a caught up with the last week of summer session. We can talk more about what needs to be done.

[2015-08-20 18:48] coryschillaci opened #41 "Create histogram of words per sentence"
@geneyoo will help after the weekend

[2015-08-20 18:52] coryschillaci opened #42 "Implement 'Junk Filter'"
- Remove sentences with <n words (n in range 2-5, determined after #41)  (@geneyoo ?)

- Zero stop words in word2vec embedding matrix (probably done in query script, @anasrferreira ?)
  - Need list of stop words in useful format

[2015-08-20 18:53] coryschillaci opened #43 "Copy LJ sentences to Stout"

[2015-08-20 19:03] coryschillaci opened #44 "Implement in-memory interview queries"
Modify the current interview query script to read in as many files as can be held in memory, and perform queries in-memory.

Expect to be able to do about 10% of sentences this way on Stout.

[2015-08-20 21:17] coryschillaci commented on #43
Now at `/big/livejournal/sentences` on Stout.

I also copied:
- The corresponding dictionary as `masterDict.sbmat`
- Word vector embeddings trained on LiveJournal as `LJEmbeddings.fmat`

[2015-08-20 21:17] #43 closed

[2017-06-16 15:31] #38 closed

[2017-06-16 15:32] #35 closed